In [1]:
import pandas as pd

In [2]:
import xgboost

In [3]:
import psycopg2 as pg2

In [4]:
conn_string = "host='db' dbname='postgres' user='postgres' password='example'"

In [5]:
con = pg2.connect(conn_string)

In [6]:
# conn.cursor will return a cursor object, you can use this cursor to perform queries
cursor = con.cursor()

In [7]:
df = pd.read_csv('wine.data')

In [8]:
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [7]:
import psycopg2 as pg2
import pandas as pd

con = pg2.connect(host='db',
                  user='postgres',
                  password='example',
                  database='postgres')
con.autocommit = True
cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

In [10]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:example@db:5432/postgres')
name = 'wine'
df.to_sql(name, engine, if_exists='replace')

177

In [5]:
sql = '''select * from wine t  '''

In [8]:
df_pg = select(sql)

/tmp/ipykernel_100/312560862.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql,con)

In [9]:
df_pg.head()

,index,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [4]:
def select(sql):
    return pd.read_sql(sql,con)